<nav class="navbar navbar-expand-md navbar-dark bg-primary
fixed-top position-sticky">
  <div class="container-md">
    <a href="/" class="navbar-brand">Markdown Blog</a>
    <form action="/search" method="get" class="form-inline 
    my-2 my-lg-0" autocomplete="off">
      <input type="text" name="query" placeholder="Search" class="form-control mr-sm-2">
    </form>
  </div>
</nav>