<% if(typeof user != 'undefined') { %>
  <a href="articles/edit/<%= article.id %>"
    class="btn btn-info">Edit</a>
  <form action="/articles/<%= article.id %>?_method=DELETE"
  method="post" class="d-inline">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
<% } %>