<h1 class="mb-4">Search: <%= typeof query != 'undefined' ? query : 'Invalid Query' %></h1>
<a href="/" class="btn btn-secondary">
  All Articles
</a>
<% articles.forEach(article => { %>
  <%- include('_article_card', {article: article}) %>
<% }) %>